<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JsoJS</title>
</head>
<body>
<script>
    var obj = {
        uname:"laodu",
        age:17,
        ugender:"女"
    }
    console.log("姓名："+obj.uname);
    console.log("年龄："+obj.age);
    console.log("性别："+obj.ugender);
</script>
</body>
</html>