<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
          initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AjaxPost</title>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script>
        $(function () {
            $("#btnSub").click(function () {
                //1.创建xhr
                var xhr = createXhr();
                //2.创建请求 - post
                xhr.open("post", "/03-server", true);
                //3.设置回调函数
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        alert(xhr.responseText);
                    }
                };
                //4.更改请求头消息
                xhr.setRequestHeader("Content-Type",
                    "application/x-www-form-urlencoded");
                //5.发送请求 - 请求数据
                var uname = $("#uname").val();
                var upwd = $("#upwd").val();
                var csrf = $("[name='csrfmiddlewaretoken']").val();
                var params = "uname=" + uname + "&upwd=" + upwd +
                    "&csrfmiddlewaretoken=" + csrf;
                xhr.send(params);

            });
        })
    </script>
    <style>
        body {
            text-align: center;
        }
        #uname,#upwd{
            /*border: black;*/
            border-radius: 5px;
            outline: none;
        }
    </style>
</head>
<body>
{% csrf_token %}
<p>
    用户名称：<input type="text" id="uname">
</p>
<p>
    用户密码：<input type="password" id="upwd">
</p>
<p>
    <input type="button" value="提交" id="btnSub">
</p>

</body>
</html>