<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server01</title>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>

    </script>
    <style>
        h1{
            text-align: center;
            color: #458012;
        }
    </style>
</head>
<body>
    <h1>这是01-server.html</h1>
    <h2>姓名：{{ uname }}</h2>
    <h2>年龄：{{ uage }}</h2>
    <ul>
        <li>
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">购物车</a>
        </li>
        <li>
            <a href="#">个人信息</a>
        </li>
    </ul>
</body>
</html>