<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Js06</title>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        function cross_callback(data){
            {#console.log(data)#}
            alert(data);
        };
        $(function () {
           $("#btnJS").click(function () {
               var script = document.createElement("script")
               script.src = "http://localhost:8000/ajax/06-server?callback=" +
                   "cross_callback";
               $("body").append(script);
           });
        });
    </script>

</head>
<body>
    <script src="/static/my.js"></script>
{#    <script src="http://localhost:8000/ajax/06-server/"></script>#}
    <button id="btnJS">跨域请求</button>
</body>
</html>